---
const { number, title, content, image } = Astro.props;
---

<div
  class="flex flex-col gap-5 bg-[#f6f9ff] border border-[#e0eaff] p-10 w-full h-full rounded-2xl md:h-[35rem] lg:h-[30rem]"
>
  <img
    src={image}
    alt={title}
    class="w-full max-w-[16rem] md:max-w-[30rem] h-[50%]"
  />
  <div class="max-w-[16rem] md:max-w-[25rem] flex flex-col gap-2 h-[50%]">
    <div class="flex gap-2">
      <span class="text-[#1533ff] lg:text-4xl text-6xl font-bold">{number}</span
      >
      <p class="text-[#1533ff] text-2xl font-medium max-w-md">{title}</p>
    </div>
    <span class="text-md text-[#4C5967]">{content}</span>
  </div>
</div>
